article.tweet {
  border: 5px solid #545149;
  width: 85%;
  margin: 50px auto;
  padding: 5px;
  border-radius: 3px;
  opacity:0.9;
}

article.tweet:nth-child(1){
  background-color:rgba(70, 124, 168, 0.7)
}

article.tweet:nth-child(2){
  background-color:rgba(64, 86, 161,0.4)
}
article.tweet:nth-child(3){
  background-color:rgba(64, 86, 161,0.3)
}

article.tweet:nth-child(4){
  background-color:rgba(64, 86, 161,0.2)
}

article.tweet:nth-child(5){
  background-color:rgba(64, 86, 161,0.1)
}


article.tweet header img {
  margin:10px;
}

article.tweet header span{
  padding: 5px;
}

article.tweet p {
  width: 100%;
  margin: 0 auto;
  padding: 15px 5vw;
  border-bottom: 5px solid #545149;
  font-weight: bold;
  font-size: 0.8em;
  overflow:auto;
}

article.tweet .handle{
  color:rgb(53, 190, 138);
}

article.tweet footer {
  margin: 10px 10px;
}

article.tweet footer span{
  font-size: 0.75em;
}

article.tweet:hover{
  box-shadow:10px 10px lightgrey;
  opacity:1;
  
} 






